
*.local
*.~dsk
*.obj
*.ild
*.map
DemoApp/Win32/Debug/DemoAppExe.exe
DemoApp/Win32/Debug/FirstDLL.dll
*.~dpr
*.idb
*.pdb
*.ilk
VCDllTest/Debug/VCDllTest.log
*.tlog
VCDllTest/Debug/VCDllTest.exe
VCDllTest/Debug/FirstDLL.dll
VCDllTest/.vs/VCDllTest/v14/.suo
*.ipch
*.db
